<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android = "http://schemas.android.com/apk/res/android"
    package = "com.example.product">

    <uses-feature android:name = "android.hardware.camera.any" />

    <uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.CAMERA" />

    <application
        android:name = ".ProductApplication"
        android:allowBackup = "true"
        android:icon = "@mipmap/ic_launcher"
        android:label = "@string/app_name"
        android:requestLegacyExternalStorage = "true"
        android:roundIcon = "@mipmap/ic_launcher_round"
        android:supportsRtl = "true"
        android:theme = "@style/Theme.Product">
        <activity android:name = ".ui.activities.CameraXActivity"></activity>
        <activity android:name = ".ui.activities.InsertActivity" />
        <activity android:name = ".ui.activities.MainActivity">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />

                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name = "androidx.core.content.FileProvider"
            android:authorities = "com.example.product"
            android:exported = "false"
            android:grantUriPermissions = "true">
            <meta-data
                android:name = "android.support.FILE_PROVIDER_PATHS"
                android:resource = "@xml/file_path" />
        </provider>
    </application>

</manifest>